.active {
    border-bottom: 1px solid red;
    color: blue;
}

.film ul li {
    list-style: none;
}

.content {
    height: 180px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    user-select: none;
}